include _head
include _nav

section.product-grid#gallery
    div.product-grid-container

        each product in products
            div.product(style=`background-image: url(/./img/${product.image})`)
                a.grid-buy-btn.product-price(href='#')=`$${product.price}`
                div.product-info
                    h4.product-name.title-medium=product.name
                    h5.product-artist.title-medium=product.artist.name
                a.grid-view-btn(href=`gallery/${product._id}`) 
script(src="/./js/index.js")
include _footer